* {
  padding: 0;
  margin: 0;
}

@keyframes tabjf_blink {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}

.tabjf_editor-con {
  --editor-bg : #3e3e3e;
  background-color : var(--editor-bg);
  max-height: calc( var(--max-height, 200) * 1px);
  overflow: auto;
  margin-top: 50px;
}

.tabjf_editor .caret {
  width     : 1px ;
  height    : 20px;
  position  : absolute   ;
  background-color : #FFF;
  animation : tabjf_blink 1s linear infinite;
}

.tabjf_editor {
  color       : #FFF;
  position    : relative;
  width       : calc(100% - 45px);
  min-height  : calc( (var(--min-height, 0) - var(--paddingTop, 0)) * 1px);
  padding-left  : 35px;
  padding-right : 10px;
  counter-reset : editor-line;
  font-family   : Consolas, monospace;
  counter-set : editor-line var(--counter-current, 0);
  padding-top : calc( var(--paddingTop, 0) * 1px );
  width       : calc(var(--scroll-width, 100%) * 1px + 5px );
  min-width   : calc(100% - 35px - 10px);
}

.tabjf_editor p {
  --color-grey : #bdc3c7 ;
  position     : relative;
  min-height   : 20px    ;
  cursor       : text    ;
  display      : flex    ;
}

.tabjf_editor p::before {
  position   : absolute;
  left       : -35px   ;
  top        : 0       ;
  width      : 30px    ;
  text-align : center  ;
  color      : var(--color-grey)   ;
  content    : counter(editor-line);
  border-right      : 1px solid var(--color-grey);
  counter-increment : editor-line   ;
}

.tabjf_editor p::after {
  display : block;
  content : '█'  ;
  color   : var(--editor-bg);
}

.tabjf_editor p span {
  display: block;
  white-space: nowrap;
  flex-shrink: 0;
}

.tabjf_editor p span:last-child {
  margin-right: 10px;
}
